@import '../../variables.scss';

.slide {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	background-color: $WHITE2;
	z-index: 98;
	overflow: hidden;
}

.logo {
	position: absolute;
	z-index: 99;
	overflow: hidden;

	svg {
		height: 100%;
		width: 100%;
	}

	path {
		transition: fill ($ANIMATION_TIME + 0.1);
	}
}

@media (max-width: $SCREEN_SM_MAX) {
	.logo {
		top: calc(50% - 15vw);
		left: calc(50% - 15vw);
		height: 30vw;
		width: 30vw;
	}
}

@media (min-width: $SCREEN_MD_MIN) {
	.logo {
		top: calc(50% - 75px);
		left: calc(50% - 75px);
		height: 150px;
		width: 150px;
	}
}

[data-theme='dark'] {
	.slide {
		background-color: $D_INDIGO2;
	}
}
