@import '../../variables.scss';

.details {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 4px 6px;
	padding: 16px 28px;
	border-bottom: $BORDER_WIDTH solid $WHITE2;
	font-family: 'roc-grotesk-wide', sans-serif;
	font-weight: 600;
	font-size: 13px;
	line-height: 1.2;
	transition: border-color $ANIMATION_TIME;

	span {
		color: $LILAC2;
	}
}

[data-theme='dark'] .details {
	border-color: $D_INDIGO2;

	span {
		color: $D_LILAC;
	}
}
