@import '../../variables.scss';

.button {
	height: 50px;
	width: 50px;
	font-size: 0;

	.dot {
		position: absolute;
		top: 11px;
		left: 11px;
	}

	i {
		position: absolute;
		top: 24px;
		left: 16px;
		height: 2px;
		width: 12px;
		background-color: $INDIGO;
		transition: left 0.4s, transform 0.4s, background-color 0.2s;

		&::before,
		&::after {
			content: '';
			position: absolute;
			height: 2px;
			background-color: $INDIGO;
			transition: top 0.4s, left 0.4s, width 0.4s, transform 0.4s, background-color 0.2s;
		}

		&::before {
			top: -5px;
			left: -12px;
			width: 24px;
		}

		&::after {
			top: 5px;
			left: -8px;
			width: 20px;
		}
	}

	&.active i {
		left: 14px;
		background-color: transparent;
		transform: rotate(225deg);

		&::before,
		&::after {
			top: 0;
			left: -6px;
		}

		&::before {
			transform: rotate(90deg);
		}

		&::after {
			width: 24px;
		}
	}
}

[data-theme='dark'] .button i {
	background-color: $WHITE;

	&::before,
	&::after {
		background-color: $WHITE;
	}
}