@import '../../variables.scss';

.menu {
	justify-content: space-between !important;
	padding-top: 150px !important;
	z-index: 9 !important;

	nav a {
		margin-bottom: 4px;
		padding: 12px 12px 6px;
		font-family: 'roc-grotesk-wide', sans-serif;
		font-size: 38px;
		font-weight: 600;
		line-height: 1;
		text-transform: lowercase;
		text-align: center;

		&.active {
			color: var(--project-color-light, $MAGENTA);
			transition: color $ANIMATION_TIME;
		}
	}
}

.menu_socials li:not(:first-child):before {
	background-color: var(--project-color-light, $MAGENTA);
	transition: background-color $ANIMATION_TIME;
}

[data-theme='dark'] {
	.menu nav a.active {
		color: var(--project-color-dark, $D_MAGENTA);
	}
}
