@import '../../variables.scss';

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 150px 28px 50px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
	backdrop-filter: blur(5px);
	background-color: rgba($WHITE2, 0.95);
	opacity: 0;
	pointer-events: none;
	transition: opacity $ANIMATION_TIME, background-color $ANIMATION_TIME;

	&.open {
		opacity: 1;
		pointer-events: all;
	}

	nav a {
		margin-bottom: 4px;
		padding: 12px 12px 6px;
		font-family: 'roc-grotesk-wide', sans-serif;
		font-size: 38px;
		font-weight: 600;
		line-height: 1;
		text-transform: lowercase;
		text-align: center;

		&.active {
			color: var(--project-color-light, $MAGENTA);
			transition: color $ANIMATION_TIME;
		}
	}
}

.menu_socials li:not(:first-child):before {
	background-color: var(--project-color-light, $MAGENTA);
	transition: background-color $ANIMATION_TIME;
}

[data-theme='dark'] {
	.menu {
		background-color: rgba($D_INDIGO, 0.97);

		nav a.active {
			color: var(--project-color-dark, $D_MAGENTA);
		}
	}
}
