@import '../../variables.scss';

.option {
	display: grid;
	align-items: center;
	grid-template-columns: 38px 1fr;
	gap: 12px;
	font-family: 'roc-grotesk-wide', sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-align: left;
	color: $INDIGO;
	transition: color $ANIMATION_TIME;

	&.disabled {
		opacity: 0.25;
		pointer-events: none;
	}

	.icon {
		border: $BORDER_WIDTH solid $INDIGO;
		border-radius: 50%;
		height: 38px;
		width: 38px;
		transition: border-color $ANIMATION_TIME;
	}

	img {
		margin: $BORDER_WIDTH;
		border-radius: 50%;
		height: calc(100% - ($BORDER_WIDTH * 2));
		width: calc(100% - ($BORDER_WIDTH * 2));
		object-fit: cover;
	}

	&.selected {
		color: var(--project-color-light);

		.icon {
			border-color: var(--project-color-light);
		}
	}
}

[data-theme='dark'] .option {
	color: $WHITE;

	.icon {
		border-color: $WHITE;
	}

	&.selected {
		color: var(--project-color-dark);

		.icon {
			border-color: var(--project-color-dark);
		}
	}
}

@media (min-width: $SCREEN_MD_MIN) {
	.option {
		cursor: pointer;

		&:not(.selected):hover {
			color: $LILAC;

			.icon {
				border-color: $LILAC;
			}
		}
	}

	[data-theme='dark'] .option:not(.selected):hover {
		color: $D_LILAC2;

		.icon {
			border-color: $D_LILAC2;
		}
	}
}
