@import '../../variables.scss';

.counter {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	.level {
		margin-bottom: 12px;
		height: 64px;
		width: 64px;
	}

	img {
		position: absolute;
		top: 16px;
		left: calc(50% - 32px + 16px);
		filter: invert(7%) sepia(6%) saturate(6450%) hue-rotate(200deg)
			brightness(97%) contrast(92%);
	}

	span {
		font-family: 'roc-grotesk-wide', sans-serif;
		font-size: 13px;
		line-height: 13px;
		font-weight: 600;
		text-align: center;
	}

	svg g {
		transition: fill $ANIMATION_TIME;

		&:nth-child(1) {
			fill: $GRAY;
		}

		&:nth-child(2) {
			fill: var(--project-color-light, $MAGENTA);
		}
	}
}

[data-theme='dark'] .counter {
	img {
		filter: invert(88%) sepia(100%) saturate(46%) hue-rotate(148deg)
			brightness(112%) contrast(100%);
	}

	svg g {
		&:nth-child(1) {
			fill: $D_INDIGO2;
		}

		&:nth-child(2) {
			fill: var(--project-color-dark, $D_MAGENTA);
		}
	}
}
