@import '../../variables.scss';

.counter {
	display: flex;
	flex-direction: column;
	align-items: center;

	.progress {
		margin-bottom: 12px;
		height: 64px;
		width: 64px;
	}

	img {
		position: absolute;
		top: 16px;
		left: calc(50% - 32px + 16px);
	}

	span {
		font-family: 'roc-grotesk-wide', sans-serif;
		font-size: 13px;
		line-height: 13px;
		font-weight: 600;
		text-align: center;
	}

	svg {
		height: 100%;
		width: 100%;
		transform: rotate(-90deg) scaleY(-1);

		circle {
			fill: transparent;
			stroke-width: 4;

			&:nth-child(1) {
				stroke: $GRAY;
			}

			&:nth-child(2) {
				stroke: var(--project-color-light);
				stroke-dasharray: 176;
				stroke-dashoffset: -176;
				transition: stroke-dashoffset 1s;
			}
		}
	}
}

[data-theme='dark'] .counter {
	svg g {
		&:nth-child(1) {
			fill: $D_INDIGO2;
		}

		&:nth-child(2) {
			fill: var(--project-color-dark);
		}
	}
}
