@import '../../colors.scss';

.years {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'roc-grotesk-wide', sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1;

	span {
		margin: 14px 16px 0 0;
		font-size: 66px;
		letter-spacing: -0.1em;

		sup {
			font-size: 34px;
		}
	}
}

.projects {
	display: flex;
	margin-top: 16px;
	font-family: 'roc-grotesk-wide', sans-serif;
	font-size: 12px;
	font-weight: 600;
	line-height: 1;

	& > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex: 1 1 0px;
		padding: 8px;
		text-align: center;
		aspect-ratio: 1;

		&:not(:first-child) {
			margin-left: 12px;
		}
	}

	span {
		font-size: 38px;
		letter-spacing: -0.06em;
		color: var(--project-color, $MAGENTA);
		transition: color 0.3s;
	}
}

[data-theme='dark'] .projects span {
	color: var(--project-color, $D_MAGENTA);
}
