@import '../../colors.scss';

.profile {
    margin-bottom: 38px;

    img {
        margin: 0 auto 38px;
        border-radius: 50%;
        height: 140px;
        width: 140px;
        object-fit: cover;
    }
}
