.content section {
	& > * {
		margin-bottom: 38px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	& > img {
		margin: 68px -28px;
		padding: 0;
		max-width: calc(100% + 56px);
	}

	br {
		content: '';
		display: block;
		margin: 16px;
	}
}
