@import '../../variables.scss';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	span {
		flex: 1;
		font-family: 'roc-grotesk-wide', sans-serif;
		font-weight: 600;
	}
}

.button {
	position: relative;

	i {
		position: absolute;
		top: calc(50% - ($BORDER_WIDTH / 2));
		left: calc(50% - ($BORDER_WIDTH / 2));
		height: $BORDER_WIDTH;
		width: $BORDER_WIDTH;
		background-color: transparent;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: calc(-10px + ($BORDER_WIDTH / 2));
			height: $BORDER_WIDTH;
			width: 20px;
			background-color: $INDIGO;
			transition: background-color 0.2s;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(135deg);
		}
	}
}

[data-theme='dark'] {
	.button i {
		&::before,
		&::after {
			background-color: $WHITE;
		}
	}
}

@media (max-width: $SCREEN_SM_MAX) {
	.content {
		height: 100%;
		width: 100%;
	}

	.header {
		margin: 19px -12px 38px 0;

		span {
			margin-top: 4px;
			font-size: 20px;
		}
	}
}

@media (min-width: $SCREEN_MD_MIN) {
	.modal {
		justify-content: center;
	}

	.content {
		padding: 28px 38px 38px;
		border: $BORDER_WIDTH solid $GRAY;
		border-radius: 12px;
		width: 100%;
		max-width: 600px;
		background-color: $WHITE;
		overflow: hidden;
	}

	.header {
		margin: 0 -12px 50px 0;

		span {
			margin-top: 4px;
			font-size: 28px;
		}
	}

	[data-theme='dark'] {
		.content {
			border-color: $D_INDIGO2;
			background-color: $D_INDIGO3;
		}
	}
}
