@import '../../variables.scss';

.scroll_down {
	position: fixed;
	z-index: 6;
	animation: ease-in-out 3s infinite;
	transition: opacity $ANIMATION_TIME;

	&.hidden {
		opacity: 0;
	}

	& > * {
		display: inline-block;
		vertical-align: middle;
	}

	div {
		font-family: 'roc-grotesk-wide', sans-serif;
		font-weight: 600;
		line-height: 1;
		text-transform: uppercase;
	}
}

@media (max-width: $SCREEN_SM_MAX) {
	.scroll_down {
		bottom: 14px;
		left: 26px;
		transform: rotate(-90deg);
		transform-origin: top left;
		animation-name: down-animation;
		will-change: transform;

		svg {
			transform: scaleX(-1);
		}

		div {
			margin: 3px 0 0 12px;
			font-size: 10px;
		}
	}
}

@keyframes down-animation {
	50% {
		transform: rotate(-90deg) translateX(12px);
	}
}

@media (min-width: $SCREEN_MD_MIN) {
	.scroll_down {
		bottom: 80px;
		left: 50%;
		transform: translateX(-50%);
		animation-name: down-animation-desktop;
		will-change: transform;

		svg {
			position: absolute;
			top: 28px;
			left: 50%;
			transform: translateX(-50%) rotate(90deg);
		}

		div {
			font-size: 12px;
		}
	}
}

@keyframes down-animation-desktop {
	50% {
		transform: translateX(-50%) translateY(16px);
	}
}
