@import '../../variables.scss';

@media (max-width: $SCREEN_SM_MAX) {
	.banner {
		padding-bottom: calc(28px + 5vh) !important;

		h1 {
			margin-bottom: 3px;
			font-size: 45px !important;
		}

		h2 {
			margin-top: 14px;
			font-size: 20px;
			line-height: 20px;
		}
	}
}

@media (min-width: $SCREEN_MD_MIN) {
	.banner {
		padding-bottom: 38px !important;

		h1 {
			margin-bottom: 8px;
			font-size: 70px !important;
		}

		h2 {
			margin-top: 20px;
			font-size: 30px;
			line-height: 34px;
		}
	}

	.socials {
		margin: 38px 0 0;
	}
}

[data-theme='dark'] .banner h2 {
	color: var(--project-color-dark);
}
