@import '../../colors.scss';

.contact {
	margin-top: 20px;

	h5 {
		margin-bottom: 1px;
		font-size: 13px;
		color: var(--project-color, $MAGENTA);
		transition: color 0.3s;
	}

	a {
		font-family: 'roc-grotesk-wide', sans-serif;
		font-size: 15px;
		font-weight: 600;
	}
}
