@import '../../variables.scss';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	transition: padding-top $ANIMATION_TIME, padding-bottom $ANIMATION_TIME, background-color $ANIMATION_TIME;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: -2px;
		opacity: 0;
		z-index: -1;
		transition: opacity $ANIMATION_TIME;
	}

	&::before {
		background-image: linear-gradient($WHITE 10%, rgba($WHITE, 0.9) 100%);
		border-bottom: $BORDER_WIDTH solid $WHITE;
	}

	&::after {
		background-image: linear-gradient($D_INDIGO 10%, rgba($D_INDIGO, 0.97) 100%);
		border-bottom: $BORDER_WIDTH solid $D_INDIGO;
	}

	&.scrolled {
		backdrop-filter: blur(1.6px);

		&::before {
			opacity: 1;
		}
	}
}

@media (max-width: $SCREEN_SM_MAX) {
	.header {
		padding: 43px 16px 14px;

		&::before {
			right: 0;
			left: 0;
		}

		&.scrolled {
			padding-top: 9px;
			padding-bottom: 7px;
		}
	}
}

@media (min-width: $SCREEN_MD_MIN) {
	.header {
		padding: 43px $SCREEN_DESKTOP_PADDING 14px;
		border-right: 50px solid transparent;
		border-left: 50px solid transparent;

		&::before,
		&::after {
			right: -50px;
			left: -50px;
		}

		&.scrolled {
			padding-top: 13px;
			padding-bottom: 10px;
		}
	}
}

[data-theme='dark'] .header {
	&.scrolled {
		&::before {
			opacity: 0;
		}

		&::after {
			opacity: 1;
		}
	}
}
