@import '../../variables.scss';

@media (max-width: $SCREEN_SM_MAX) {
	.logo {
		padding: 6px 14px;

		svg {
			height: 12vw;
		}
	}
}

@media (min-width: $SCREEN_MD_MIN) {
	.logo {
		padding: 0;

		svg {
			height: 50px;
		}
	}
}
