@import '../../variables.scss';

.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 12px;
	padding-top: 38px;

	li {
		&:nth-child(2n - 1) {
			margin-top: -38px;
		}
	}

	a {
		border-radius: 12px;
		overflow: hidden;
	}

	img {
		aspect-ratio: 1.5;
		object-fit: cover;
	}
}
