@import '../../variables.scss';

.gallery li:not(:last-child) {
	margin-bottom: 28px;
}

.thumbnail {
    border-bottom: 1px solid $WHITE2;
	position: relative;
	transition: border-color 0.3s;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $GRAY;
		z-index: 1;
		mix-blend-mode: color;
	}
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 13px 16px 10px;

	h2 {
		font-size: 20px;
	}
}

[data-theme='dark'] .thumbnail {
	border-color: $D_INDIGO;
}
