@import '../../variables.scss';

.gallery li:not(:last-child) {
	margin-bottom: 28px;
}

.thumbnail {
    border-bottom: 1px solid $WHITE2;
	position: relative;
    aspect-ratio: 1.8;
	transition: border-color 0.3s;
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 13px 16px 10px;

	h2 {
		font-size: 20px;
	}
}

[data-theme='dark'] .thumbnail {
	border-color: $D_INDIGO;
}
