@import '../../variables.scss';

.gallery {
	display: grid;
}

.thumbnail {
	border-bottom: 1px solid $WHITE2;
	transition: border-color $ANIMATION_TIME;
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;

	div {
		line-height: 1;
	}

	span {
		font-family: 'roc-grotesk-wide', sans-serif;
		font-weight: 600;
		color: $LILAC;
		transition: color $ANIMATION_TIME;
	}
}

.tags {
	display: flex;
}

@media (max-width: $SCREEN_SM_MAX) {
	.gallery {
		gap: 38px;
	}

	.content {
		padding: 0 16px;
		height: 50px;

		h2 {
			margin-bottom: -4px;
			font-size: 20px;
		}

		span {
			font-size: 12px;
		}
	}
}

@media (min-width: $SCREEN_MD_MIN) {
	.gallery {
		grid-template-columns: 1fr 1fr;
		gap: 28px;
	}

	.content {
		padding: 0 20px;
		height: 68px;

		h2 {
			font-size: 32px;
		}

		span {
			font-size: 14px;
		}
	}

	.tags {
		gap: 2px;

		img {
			height: 24px;
			width: auto;
		}
	}
}

[data-theme='dark'] .thumbnail {
	border-color: $D_INDIGO;
}
