@import '../../variables.scss';

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;

	h3 {
		position: relative;

		&::before {
			content: '';
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: -20%;
			height: 120%;
			aspect-ratio: 1;
			background-color: var(--project-color-light);
			transition: background-color $ANIMATION_TIME;
			z-index: -1;
		}
	}

	a {
		font-family: 'roc-grotesk-wide', sans-serif;
		font-weight: 600;
		text-transform: uppercase;
		color: var(--project-color-light);
		transition: color $ANIMATION_TIME;

		svg {
			position: absolute;
			right: 0;
			width: auto;
		}
	}
}

@media (max-width: $SCREEN_SM_MAX) {
	.title {
		margin-bottom: 38px;

		h3 {
			padding-left: 16px;
			font-size: 28px;
		}

		a {
			margin-top: 2px;
			padding-right: 32px;
			font-size: 10px;

			svg {
				top: 1px;
			}
		}
	}
}

@media (min-width: $SCREEN_MD_MIN) {
	.title {
		margin-bottom: 68px;

		h3 {
			padding-left: 22px;
		}

		a {
			margin-top: 3px;
			padding-right: 42px;
			font-size: 14px;
			transition: opacity $ANIMATION_TIME;

			svg {
				top: 2px;
				height: 14px;
				transition: right ($ANIMATION_TIME - 0.1s);
			}

			&:hover {
				opacity: 0.75;

				svg {
					right: -6px;
				}
			}
		}
	}
}

[data-theme='dark'] .title {
	h3::before {
		background-color: var(--project-color-dark);
	}

	a {
		color: var(--project-color-dark);
	}
}
