@import '../../variables.scss';

.section {
	padding: 68px 28px;
}

.background {
	background-color: $WHITE2;
    transition: background-color $ANIMATION_TIME;
}

.pattern::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('../../assets/images/light/pattern.svg');
	opacity: 0.6;
    transition: background-image $ANIMATION_TIME, opacity $ANIMATION_TIME;
}

[data-theme='dark'] {
	.background {
		background-color: $D_INDIGO3;
	}

	.pattern::before {
		background-image: url('../../assets/images/dark/pattern.svg');
		opacity: 0.2;
		mix-blend-mode: color-burn;
	}
}
