@import '../../variables.scss';

.section {
	&:first-child {
		margin-top: 0 !important;
	}

	&.background {
		background-color: $WHITE2;
		transition: background-color $ANIMATION_TIME;

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 28px;
			background-color: $WHITE2;
			transition: background-color $ANIMATION_TIME;
		}

		&::before {
			bottom: 100%;
			clip-path: url(#curvedMaskTop);
		}

		&::after {
			top: 100%;
		}

		&:not(.extend)::after {
			clip-path: url(#curvedMaskBottom);
		}
	}
}

@media (max-width: $SCREEN_SM_MAX) {
	.section {
		padding: 50px 28px;

		&.background {
			margin: 50px 0;

			&.extend {
				margin-bottom: 28px;
				padding-bottom: 16px;

				&::after {
					height: calc(28px + 28px);
				}
			}
		}
	}
}

@media (min-width: $SCREEN_MD_MIN) {
	.section {
		padding: 90px $SCREEN_DESKTOP_PADDING;
		border-right: 50px solid transparent;
		border-left: 50px solid transparent;

		&:first-child,
		&:not(.background) + .section:not(.background) {
			padding-top: 28px;
		}
	}
}

[data-theme='dark'] .background {
	background-color: $D_INDIGO3;

	&::before,
	&::after {
		background-color: $D_INDIGO3;
	}
}
