@import '../../variables.scss';

.section {
	padding: 68px 28px;
}

.background {
	&::before {
		content: '';
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: -100vw;
		height: 100%;
		width: 300vw;
        aspect-ratio: 1;
		background-color: $WHITE2;
		transition: background-color $ANIMATION_TIME;
	}

	&.extend::before {
		height: 100vh;
	}
}

[data-theme='dark'] .background::before {
	background-color: $D_INDIGO3;
}
