@import "../../variables.scss";

.copyright {
    font-family: "roc-grotesk-wide", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: $LILAC;
    transition: color $ANIMATION_TIME;
}

[data-theme='dark'] .copyright {
    color: $D_LILAC;
}


@media (max-width: $SCREEN_SM_MAX) {
    .copyright {
        text-align: center;
    }
}
