@import "../../colors.scss";

.copyright {
    margin-bottom: 15px;
    font-family: "roc-grotesk-wide", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: $LILAC;
    text-align: center;
}