@import "../../colors.scss";

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 28px;
    position: relative;
    background-color: $LILAC2;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../../assets/light/images/pattern.png");
        opacity: 0.2;
    }
}
