.logo {
	margin-bottom: 28px;
	height: 50px;

	path {
		&:nth-child(1) {
			fill: #17182b !important;
		}

		&:nth-child(2) {
			fill: #04050d !important;
		}

		&:nth-child(3) {
			fill: #090a16 !important;
			opacity: 1 !important;
		}
	}
}

[data-theme='dark'] .logo path {
	&:nth-child(1) {
		fill: #ffffff !important;
	}

	&:nth-child(2) {
		fill: #dfdfdf !important;
	}

	&:nth-child(3) {
		fill: #ececec !important;
	}
}
