@import '../../variables.scss';

.social {
	&::marker {
		display: none;
	}

	a {
		padding: 13px;
	}

	img {
		height: 24px;
		width: 24px;
	}
}

@media (min-width: $SCREEN_MD_MIN) {
	.social a {
		transition: opacity $ANIMATION_TIME;

		&:hover {
			opacity: 0.5;
		}
	}
}
