@import '../../variables.scss';

.button {
	height: 28px;
	width: 52px;
	opacity: 0;
	pointer-events: none;

	path {
		fill: var(--project-color-light);
		transition: fill $ANIMATION_TIME, transform $ANIMATION_TIME, opacity $ANIMATION_TIME;
	}

	.sun {
		transform: translate(3px, 3px);
		opacity: 1;
	}

	.moon {
		transform: translate(4px, 4px);
		opacity: 0;
	}

	&.active {
		.sun {
			transform: translate(calc(100% - 21px), 3px);
			opacity: 0;
		}

		.moon {
			transform: translate(calc(100% - 20px), 4px);
			opacity: 1;
		}
	}

	&.shown {
		opacity: 1;
		pointer-events: all;
		cursor: pointer;
	}
}

@media (min-width: $SCREEN_MD_MIN) {
	.button:hover {
		&:not(.active) .sun {
			transform: translate(6px, 3px);
			opacity: 0.5;
		}

		&.active .moon {
			transform: translate(calc(100% - 23px), 4px);
			opacity: 0.5;
		}
	}
}

[data-theme='dark'] .button path {
	fill: var(--project-color-dark);
}
