$WHITE:     #FFFFFF;
$WHITE2:    #F3F3FF;
$GRAY:      #DDDDEC;
$LILAC:     #6574BE;
$LILAC2:    #BDC7F5;
$INDIGO:    #17182B;
$MAGENTA:   #E64967;
$MAGENTA2:  #AF2E56;
$MAGENTA3:  #6C2D47;

$SHADOW:    rgba(35, 55, 154, 0.1);