@import './variables.scss';

body {
	font-family: 'roc-grotesk', sans-serif;
	font-weight: 400;
	color: $INDIGO;
	background-color: $WHITE;
	transition: color $ANIMATION_TIME, background-color $ANIMATION_TIME;
}

main {
	min-height: calc(100% - 363px);
	background-color: $WHITE;
	transition: background-color $ANIMATION_TIME;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'roc-grotesk-wide', sans-serif;
	font-weight: 600;
	line-height: 1;
}

b {
	font-weight: 600;
}

em,
i {
	font-style: italic;
}

p {
	font-size: 16px;
	line-height: 30px;
}

.color_shift {
	filter: invert(7%) sepia(6%) saturate(6450%) hue-rotate(200deg) brightness(97%) contrast(92%);
}

[data-theme='dark'] {
	color: $WHITE;
	background-color: $D_INDIGO;

	main {
		background-color: $D_INDIGO;
	}

	.color_shift {
		filter: invert(88%) sepia(100%) saturate(46%) hue-rotate(148deg) brightness(112%) contrast(100%);
	}
}
