$WHITE: #ffffff;
$WHITE2: #f3f3ff;
$GRAY: #ddddec;
$LILAC: #6574be;
$LILAC2: #bdc7f5;
$INDIGO: #17182b;
$MAGENTA: #e64967;
$MAGENTA2: #af2e56;
$MAGENTA3: #6c2d47;

$D_LILAC: #bdc7f5;
$D_LILAC2: #6c7fdc;
$D_INDIGO: #0e1024;
$D_INDIGO2: #090a16;
$D_INDIGO3: #0b0c1c;
$D_MAGENTA: #f54f6f;
$D_MAGENTA2: #bc2f5b;
$D_MAGENTA3: #7b2c4d;

$BORDER_WIDTH: 0.14rem;

$ANIMATION_TIME: 0.3s;

$SCREEN_XS_MAX: 768px;
$SCREEN_SM_MIN: 769px;
$SCREEN_SM_MAX: 992px;
$SCREEN_MD_MIN: 993px;
$SCREEN_MD_MAX: 1200px;
$SCREEN_LG_MIN: 1201px;

$SCREEN_DESKTOP_PADDING: calc((100vw - 1280px - 56px) / 2);
