@import '../../variables.scss';

.banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
}

@media (max-width: $SCREEN_SM_MAX) {
	.banner {
		padding: 0 28px;

		h1 {
			font-size: 38px;
		}
	}
}

@media (min-width: $SCREEN_MD_MIN) {
	.banner {
		padding: 0 $SCREEN_DESKTOP_PADDING;
		border-right: 50px solid transparent;
		border-left: 50px solid transparent;

		h1 {
			// font-size: 38px;
		}
	}
}
