.banner {
	padding-top: 45px;
	position: fixed;
	top: 0;
	left: 50%;
	width: calc(100% - 200px);
	z-index: 11;
	transform: translateX(-50%);
	transition: padding-top 0.3s, opacity 0.3s;

	&.scrolled {
		padding-top: 11px;
	}

	&.hidden {
		opacity: 0;
	}

	h1 {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50px;
		font-size: 14px;
		line-height: 16px;
		text-transform: uppercase;
	}
}
