@import '../../variables.scss';

.banner {
	position: relative;

	h1 {
		margin-bottom: 6px;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 4px;
		max-width: calc(100vw - 56px);
	}
}
