.title {
	&::before {
		content: '';
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: -24%;
		height: 120%;
		aspect-ratio: 1;
		background-color: var(--project-color-light);
		transition: background-color 0.3s;
		z-index: -1;
	}

	&.center {
		text-align: center;

		&::before {
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&.right {
		text-align: right;

		&::before {
			left: 100%;
			transform: translateX(-100%);
		}
	}
}

h1.title {
	padding-left: 16px;
	padding-right: 16px;
}

h2.title {
	padding-left: 14px;
	padding-right: 14px;
}

h3.title {
	padding-left: 12px;
	padding-right: 12px;
}

h4.title {
	padding-left: 10px;
	padding-right: 10px;
}

h5.title {
	padding-left: 8px;
	padding-right: 8px;
}

h6.title {
	padding-left: 6px;
	padding-right: 6px;
}
