@import '../../variables.scss';

.arrow path {
	fill: var(--project-color, $MAGENTA);
	transition: fill $ANIMATION_TIME;
}

[data-theme='dark'] .arrow path {
	fill: var(--project-color, $D_MAGENTA);
}
