@import '../../variables.scss';

.arrow path {
	fill: var(--project-color-light, $MAGENTA);
	transition: fill $ANIMATION_TIME;
}

[data-theme='dark'] .arrow path {
	fill: var(--project-color-dark, $D_MAGENTA);
}
