@import '../../variables.scss';

.blob {
	border-radius: 50%;
	position: absolute;
	top: calc(50% - 465px);
	left: calc(50% - 465px);
	height: 930px;
	width: 930px;
	z-index: -1;
	transition: background-color $ANIMATION_TIME;
}
