@import '../../variables.scss';

.blob {
	border-radius: 50%;
	position: absolute;
	top: calc(80vh - 50vw);
	right: -40vw;
	height: 100vw;
	width: 100vw;
	z-index: -1;
	transition: background-color $ANIMATION_TIME;
}
