@import '../../colors.scss';

.button {
	padding: 5px 12px 4px;
	border-radius: 20px;
	font-family: 'roc-grotesk-wide', sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: $WHITE;
	background-color: var(--project-color, $MAGENTA);
	transition: background-color 0.3s;
}

[data-theme='dark'] .button {
	background-color: var(--project-color, $D_MAGENTA);
}
