@import '../../variables.scss';

.card {
	border-radius: 12px;
	border: 1px solid $WHITE2;
	background-color: $WHITE;
	overflow: hidden;
	transition: border-color $ANIMATION_TIME, background-color $ANIMATION_TIME;
}

[data-theme='dark'] .card {
	border-color: $D_INDIGO2;
	background-color: $D_INDIGO;
}
