@import '../../colors.scss';

.dot {
	margin: 0 auto;
    padding: 0 !important;
	border-radius: 50%;
	background-color: var(--project-color, $MAGENTA);
	transition: background-color 0.3s;
}
