@import '../../colors.scss';

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 50px;
	width: 50px;
	font-size: 0;

	.dot {
		border: 1px solid rgba($LILAC2, 0.25);
		position: absolute;
		top: 6px;
		left: 6px;
		background-color: $WHITE2;
		transition: background-color 0.3s, border-color 0.3s;
	}
}

[data-theme='dark'] .button .dot {
	border-color: rgba(#000000, 0.5);
	background-color: $D_INDIGO2;
}
