@import '../../variables.scss';

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	font-size: 0;

	.dot {
		border: $BORDER_WIDTH solid rgba($LILAC2, 0.25);
		position: absolute;
		top: 6px;
		left: 6px;
		background-color: $WHITE2;
		transition: background-color $ANIMATION_TIME, border-color $ANIMATION_TIME;
	}
}

[data-theme='dark'] .button .dot {
	border-color: rgba(#000000, 0.5);
	background-color: $D_INDIGO2;
}

@media (min-width: $SCREEN_MD_MIN) {
	.button {
		cursor: pointer;
	}
}
