@import '../../colors.scss';

.logo {
	position: relative;

	path {
		transition: fill 0.3s;

		&:nth-child(1) {
			fill: $INDIGO;
		}

		&:nth-child(2) {
			fill: var(--project-color, $MAGENTA);
		}

		&:nth-child(3) {
			fill: $INDIGO;
			opacity: 0.3;
		}
	}
}

[data-theme='dark'] .logo path {
	&:nth-child(1),
	&:nth-child(3) {
		fill: $WHITE;
	}
}
