@import '../../variables.scss';

.logo path {
	transition: fill $ANIMATION_TIME;

	&:nth-child(1) {
		fill: $INDIGO;
	}

	&:nth-child(2) {
		fill: var(--project-color-light);
	}

	&:nth-child(3) {
		fill: $INDIGO;
		opacity: 0.3;
	}
}

[data-theme='dark'] .logo path {
	&:nth-child(1),
	&:nth-child(3) {
		fill: $WHITE;
	}

	&:nth-child(2) {
		fill: var(--project-color-dark);
	}
}
