@import '../../variables.scss';

.button {
	position: fixed !important;
	right: 16px;
	bottom: 28px;
	z-index: 5;
	transition: opacity $ANIMATION_TIME;

	i {
		margin-top: 6px;
		border-top: $BORDER_WIDTH solid $INDIGO;
		border-left: $BORDER_WIDTH solid $INDIGO;
		height: 10px;
		width: 10px;
		transform: rotate(45deg);
		transition: border-color $ANIMATION_TIME;
	}

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}
}

[data-theme='dark'] .button i {
	border-color: $WHITE;
}
