@import '../../colors.scss';

.counter {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	.level {
		margin-bottom: 12px;
		height: 64px;
		width: 64px;
	}

	img {
		position: absolute;
		top: 16px;
		left: calc(50% - 32px + 16px);
	}

	span {
		font-family: 'roc-grotesk-wide', sans-serif;
		font-size: 13px;
		line-height: 13px;
		font-weight: 600;
		text-align: center;
	}

	svg g {
		&:nth-child(1) {
			fill: $GRAY;
		}

		&:nth-child(2) {
			fill: var(--project-color, $MAGENTA);
		}
	}
}
