@import '../../variables.scss';

.button {
	opacity: 0;
	pointer-events: none;
	transition: opacity $ANIMATION_TIME;

	svg {
		height: 28px;
		width: 51px;
	}

	path {
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			transition: transform $ANIMATION_TIME, opacity $ANIMATION_TIME;
		}

		&:nth-child(1) {
			fill: $INDIGO;
		}

		&:nth-child(2),
		&:nth-child(3) {
			fill: var(--project-color, $MAGENTA);
		}

		&:nth-child(2) {
			transform: translate(-1935px, -200px);
		}

		&:nth-child(3) {
			transform: translate(60px, -243px);
			opacity: 0;
		}
	}

	&.shown {
		opacity: 1;
		pointer-events: all;
	}

	&.active path {
		&:nth-child(1) {
			fill: $WHITE;
		}

		&:nth-child(2),
		&:nth-child(3) {
			fill: var(--project-color, $D_MAGENTA);
		}

		&:nth-child(2) {
			transform: translate(-1912px, -200px);
			opacity: 0;
		}

		&:nth-child(3) {
			transform: translate(83px, -243px);
			opacity: 1;
		}
	}
}
